<div class="header">
  <div class= "left-bar">
    <%= link_to "gourmet-discovery", root_path %>
  </div>
  <div class= "nav-bar">
    <div class="nav-list">
      <% if user_signed_in? %>
        <%= link_to "#{current_user.nickname}", user_path(current_user.id), class:"nav-btn" %>
        <%= link_to "投稿する", new_post_path, class:"nav-btn" %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-btn" %>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class:"nav-btn" %>
        <%= link_to '新規登録', new_user_registration_path, class:"nav-btn" %>
      <% end %>
    </div>
  </div>
</div>