<div class="devise-main">
<h2>登録変更</h2>

<%= form_with(model: @user, url: user_registration_path, method: :patch, local: true ) do |f| %>
  <%= render 'share/error_messages', model: @user, model: f.object %>

  <div class="field">
    <%= f.label :ニックネーム %>
    <span class="indispensable">必須</span><br />
    <%= f.text_field :nickname, class:"text-form" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <span class="indispensable">必須</span><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text-form" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <span class="indispensable">必須</span>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"text-form" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %>
    <span class="indispensable">必須</span><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text-form" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %>
    <span class="indispensable">必須</span><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"text-form" %>
  </div>

  <div class="field">
    <%= f.label :性別 %>
    <span class="indispensable">必須</span><br />
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box"})  %>
  </div>

  <div class="actions">
    <%= f.submit "変更する", class:"submit-btn" %>
  </div>
<% end %>

<div class="back-link">
  <%= link_to "トップページに戻る", root_path  %>
</div>

</div>
