<%=render 'share/header' %>

<div class="show-detail-page-main">
  <div class= post-content>
    <div class="user-only-func-class">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to "編集", edit_post_path(@post.id), class:"user-only-func-btn" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"user-only-func-btn" %>
      <% end%>
    </div>
    <div class="detail-image-class">
      <%= image_tag @post.image, class:"detail-image" if @post.image.attached? %>
    </div>
    <div class="detail-lists-class">
      <ul class="detail-lists">
          <li class="detail-list">ジャンル:  <%= @post.genre.name %></li>
          <li class="detail-list">都道府県:  <%= @post.prefecture.name %></li>
          <li class="detail-list">年齢:  <%= @post.age.name %></li>
          <li class="detail-list">性別:  <%= @post.user.gender.name %></li>
          <li class="detail-list">場所:  <%= @post.address %></li>
          <li class="detail-list">感想:  <%= @post.text %></li>
          <li class="detail-list">投稿者:  <%= @post.user.nickname %></li>
      </ul>
    </div>
  </div>
  <%= link_to "トップページに戻る", root_path %>
</div>


<%=render 'share/footer' %>